body{
	background-color: #fff;
	font-size: 100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 1.4;
}

.body{
	margin:0 auto;
	width:90%;
	max-width:1700px;
	clear:both;
}

.bordered{
	/*reset*/
	border:none;
	margin-bottom: 80px;

	border-left: 6px solid #C97100;
	padding-left: 30px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
}
/*
.bordered-bottom{
	border-bottom: 6px solid #C97100;
	border-left: none;
}
*/
@media only screen and (max-width: 740px){
	.bordered{
		/*reset*/
		border:none;
		padding-left: 0;

		margin-bottom: 80px; /*ggf. aus media querys raushalten, da allgemeingültig?!) */
		padding-top: 10px;

		border-top:12px solid #C97100;
		border-bottom: 3px solid #C97100;

	}
}


.container{
	position: relative;
	height:360px;
	/*width: 50%;*/
	/*	margin:80px 0 30px;*/

				/*	text-align: center;*/

	border-left:1px solid white;
	/*border-right:1px solid white;	*/
}
