body{
  font-variant-numeric: oldstyle-nums;
  -webkit-font-feature-settings: "onum" 1;
  -moz-font-feature-settings: "onum" 1;
  -moz-font-feature-settings: "onum=1";
  -ms-font-feature-settings: "onum" 1;
  -o-font-feature-settings: "onum" 1;
  font-feature-settings: "onum" 1;
}


p.postinfo{
  text-align: right;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 16px;
  text-transform: lowercase;
}
figcaption{
  text-align: center;
  float:none;
  width:100%;
  margin-bottom: 20px;
}

.info h1{
  text-transform: uppercase;
  letter-spacing: 2px;
}

.caps{
  text-transform: lowercase;
  font-variant: small-caps;
  // font-variant-caps: all-small-caps; // This fails hard in SAFARI
}

.italic{font-style: italic;}

.colored-text{color: #C97100;}

.small-text{
  font-size: .6em;
}


@media only screen and (min-width: 600px){

  h1 {font-size: 150%;margin-bottom:16px;}
	h2 {font-size: 112%;margin:0;}

	h3 {font-size: 112%;margin-top:30px; margin-bottom: 0; /*padding-bottom: 16px;*/}
	p{max-width: 1000px;text-indent:20px;text-align: justify;	/*margin: 0;*/}
	section p:first-of-type{text-indent: 0;}

  .maincontent article.impressum{text-align: justify;}

}


@media only screen and (min-width: 800px){

	body{
		font-size: 120%;
	}
}
@media only screen and (max-width: 480px){

  body{font-size: 90%;}

	h2{
		margin-bottom: 10px;
	}
}
