_site/
.sass-cache/
.jekyll-metadata
assets/img/bilder/malerei-backup




# Created by https://www.gitignore.io/api/ma,macos,sass,jekyll

#!! ERROR: ma is undefined. Use list command to see defined gitignore types !!#

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Sass ###
.sass-cache/
*.css.map


### Jekyll ###
_site/
.sass-cache/
.jekyll-metadata

*.map

assets/css/style.css.map

#assets/css/compiled/style.css

#assets/css/compiled/style.css

#assets/css/compiled/style.css
