---
layout: default
---
<div class="maincontent index">

	{% for article in site.categories.important-info %}
		<article>
				<section class="bordered important-info">
					<header>
						<h2>{{article.announcement}} {{article.title}}</h2>
					</header>
						<section>
							<figure class="img-in-article">
									<img src="{{site.baseurl}}/assets/img/bilder/oa-musik.jpg">
								<figcaption>"Auch dieses Mal wird es Live-Musik geben. <br>Im Bild zu sehen Johanna Alba und Nicolas Arnold."</figcaption>
							</figure>

								{{article.content}}
						</section>
		</article>
	{% endfor %}

	{% for article in site.categories.article %}
		<article>
				<section class="bordered">
					<header>
						<h1>{{article.title}}</h1>
					</header>

					<footer>
						<p class="postinfo">{{article.author}}, <span>{{article.date | date: "%d.%m.%Y"}}</span></p>
					</footer>

						<section>

								{{article.content}}

						</section>
		</article>
	{% endfor %}


<!--
	<article>
				<section class="bordered">
					<header>
						<h2>Was wartet hier auf mich?</h2>
					</header>

					<footer>
						<p class="postinfo">kurt arnold</p>
					</footer>


						<section>
						<p>Ich freue mich, Sie hier auf meiner Homepage begrüßen zu dürfen. Hier finden Sie alle möglichen Informationen über meine Kunst und mich. Unter <a class="inlinelink" href="werke.html">werke</a> finden sie Galerien mit einer Auswahl meiner <a class="inlinelink" href="skulpturen.html">Skulpturen</a> und <a class="inlinelink" href="malerei.html">Gemälde. </a></p>
						<p>Informationen zu meinem Werdegang, mein <a class="inlinelink" href="info.html#artistatement">Artistatement</a> und weiteres Material über vergangene Ausstellungen, Reden, Pressestimmen, meine Werkzeuge, Herstellungsprozesse und vieles mehr gibt es unter <a class="inlinelink" href="info.html">info</a> zu lesen.</p>
						<p>Hinweise zu aktuellen Veranstaltungen rund um Austellungen finden Sie direkt hier, indem Sie nach unten scrollen. Bei Fragen stehe ich Ihnen gerne zur Verfügung. Die nötigen Daten gibt es auf meiner <a class="inlinelink" href="kontakt.html">Kontaktseite</a>. Dort finden Sie auch die Möglichkeit, sich für meinen Newsletter anzumelden.</p></section>
				</section>
		</article>
-->
		<article>
			<section>
				<figure class="title">
					<a href="{{site.baseurl}}/skulpturen.html" title="Das Totenschiff">
						<img src="{{site.baseurl}}/assets/img/bilder/skulpturen/boot.jpg">
					</a>
					<figcaption>"Das Totenschiff, oder der schwarze Mann und das Meer" (2012), <br>Skulptur aus altem Holzbalken – gebrannt, gebürstet und geölt<br></figcaption>
				</figure>
				<figure class="title">
					<a href="{{site.baseurl}}/malerei.html" title="Die Gelbe Gefahr">
						<img src="{{site.baseurl}}/assets/img/bilder/malerei/gelb.jpg" alt="image">
					</a>
					<figcaption>"Die gelbe Gefahr" (2012), Mischtechnik auf Leinwand<br></figcaption>
				</figure>
				<!-- <a href="bilder/gelb.jpg" class="swipebox" title="gelb">
					<img src="bilder/gelb.jpg" alt="image">
				</a>
				<a href="bilder/chinese.jpg" class="swipebox" title="Drei Chinesen...">
					<img src="bilder/chinese.jpg" alt="image">
				</a> -->
			</section>
		</article>

		<article>
				<section class="bordered">
					<header>
						<h2>Warum mache ich Kunst?</h2>
					</header>

					<footer>
						<p class="postinfo">kurt adam arnold</p>
					</footer>

		<!--		<content>	-->
						<section>
						<p>Als Künstler bin ich Autodidakt. Brauche ich Hilfe, nehme ich Unterricht. Die Kunst, vor allem die Bildende, begleitet mich durch mein ganzes bisheriges Dasein. Der Kunstunterricht in der Schule war die sichere Bank für gute Noten. Daran erinnert man sich gerne. Auf Empfehlung meines Kunstlehrers schrieben mich meine Eltern an der Fernakademie Linke für Malerei in Karlsruhe ein. Andere Dinge in meinem noch jungen Leben wurden wichtig. Die Malerei musste zurückstehen und ich entschied mich für eine Ausbildung zum Radio- und Fernsehtechniker. </p>
						<p>Aus den Augen habe ich die Kunst aber nie verloren. Der Weg zum Künstler ward steiniger, aber auch bestimmter. Der Besuch von Ausstellungen, im Besonderen für Zeitgenössische Kunst und Kunst der Moderne, hat mir den Weg in die Malerei geebnet. Ich habe viel zum Thema Kunst gelesen und andere Künstler studiert.</p></section>
				</section>
		</article>
<!--
			<div class="content">
				<figure>
					<img src="bilder/boot.jpg">
					<figcaption>Skulptur: boot<br>ein bisschen Text über Skultpuren, Material, Werkzeuge, Bearbeitungsvorgänge usw. </figcaption>
				</figure>
				<figure>
					<img src="bilder/sitzung.jpg">
				<figcaption>Video: bei der Arbeit<br>ein bisschen Text über Brennvorgänge mit handelsüblichem Flammenwerfer</figcaption>
				</figure>
				<img src="bilder/gelb.jpg">



				<article class="topcontent">
				<h1>Kurt Arnold</h1>

					<section>
						<header>
							<h2>Vernissage in so und so</h2>
						</header>

						<footer>
							<p class="postinfo">written by kurt arnold, date</p>
						</footer>

						<content>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 	aliquyam erat, sed diam voluptua.</p>

						</content>
					</section>

				</article>
			</div>	-->
</div>
