<footer class="mainfooter">
  <ul><li><a class="standard" href="impressum.html">Impressum</a></li>
    <li><a class="standard" href="kontakt.html">Kontakt</a></li>
<!--			<li><a class="standard" href="http://www.monika-hamryszak.de">Fotos: Monika Hamryszak</a></li>
    <li><a class="standard" href="#">Design: Nicolas Arnold</a></li>	-->

    <script type="text/javascript">
      Modernizr.load({
        test: Modernizr.touch,
        yep : 'nogalleryclick.js',
        nope: ['{{site.baseurl}}/lib/jquery-2.1.0.min.js','{{site.baseurl}}/src/js/jquery.swipebox-changed.js']
    });</script>
  </ul>
</footer>
