<head>
    <title>kurt adam arnold - malerei und skulptur</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
<!-- .js nicht auf index.html laden!  -->
<!--    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/swipebox-changed.css"> -->
    <script async type="text/javascript" src="{{site.baseurl}}/assets/js/modernizr.custom.47253.js"></script>
<!--    <script src="{{site.baseurl}}/assets/js/readmore-js/readmore.min.js"></script>  -->
<!-- modernizr takes care of that !!! -->

<!-- diese Skripte nur bedingt laden! -->
<!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>

    <script type="text/javascript" src="/assets/js/respond.js"></script>
<![endif]-->
</head>
