<!DOCTYPE html>
<html lang="de">

	{% include head.html %}

	<body class="body">
		<header class="mainheader">

		  {% include navigation.html %}
		  {% include subnav-gallery.html %}

		</header>

			{{ content }}
			{% include footer.html %}

  </body>
	<script type="text/javascript">Modernizr.load({
	test: Modernizr.touch,
	yep : '',
	nope: ['{{site.baseurl}}/assets/js/jquery-2.1.0.min.js','{{site.baseurl}}/assets/swipebox/js/jquery.swipebox-changed.js'],
	complete: function() {;( function( $ ) {
					/* Basic Gallery */
					$( '.swipebox' ).swipebox();
				} )( jQuery );}
});</script>
</html>
